<!DOCTYPE html>
<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/css/stylesheet.css" rel="stylesheet" />
<script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.esm.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.esm.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery/jquery.slim.js"></script>
<script src="~/lib/jquery/jquery.slim.min.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="container">
        <div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    placeholder txt
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavBar">
                    <span class="navbar-toggler-icon"</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a asp-controller="home" asp-action="index" class="nav-item nav-link active">Home</a>
                        <a asp-controller="home" asp-action="create" class="nav-item nav-link">Create</a>
                    </div>
                </div>
            </nav>
        </div>
        @RenderBody()
    </div>
</body>
</html>
