@model List<Book>;

@{
    ViewBag.Title = "Index View";
}

   <div class="card-deck">
       @foreach(var book in Model)
    {
        <div class="card m-3">
            <div class="header">
                <h3>@book.Title</h3>
            </div>
            <img class="card-img-top" src="~/Images/book_img.jpg">
            <div class="card-footer text-center">
                <a class="btn btn-primary" asp-controller="home" asp-action="details" asp-route-id="@book.Id">Details</a>
                <a class="btn btn-primary" href="#">Edit</a>
                <a class="btn btn-danger" href="#">Delete</a>
            </div>
        </div>
    }
</div>


