@model IEnumerable<Book>;

@{
    ViewBag.Title = "Index View";
}


<div class="card-group">
       @foreach(var book in Model)
    {
            <div class="card" style="width:300px; height:500px">
            <div class="header">
                <h3>@book.Title</h3>
            </div>
            <img class="card-img-top" src="~/images/book_img.png">
            <div class="card-footer text-center">
                <a class="btn btn-primary" asp-controller="home" asp-action="details" asp-route-id="@book.BookId">Details</a>
                <a class="btn btn-primary" asp-controller="home" asp-action="edit" asp-route-id="@book.BookId">Edit</a>
                <a class="btn btn-danger" asp-controller="home" asp-action="delete" asp-route-id="@book.BookId">Delete</a>
            </div>
        </div>
    }
</div>


